{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <section>
    <h1>Posts</h1>

    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{%  url 'posts:page' slug=post.slug %}">
                    {{ post.title }}
                </a>
            </h2>
            <p>{{ post.created_at }} by {{ post.user }}</p>
            <p>{{postgenre}} {{ post.author }}  {{post.rating}}</p>
            <p>{{ post.description }}</p>
            

        </article>
    {% endfor %}
</section>
{% endblock %}